* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand";
}

h1,
h3 {
  color: #b46d2a;
}

.nav-container {
  display: flex;
  flex-wrap: wrap;
  display: inline;
}

.header-description {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/header.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 270px;
  background-color: #d69456;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 30px 50px;
  font-size: 1.5em;
  font-weight: bold;
  gap: 20px;
  justify-content: center;
  color: white;
}

.nav-list {
  background-color: #b46d2a;
  width: 100%;
  padding: 15px;
  position: sticky;
  top: 0;
}

.nav-list ul {
  display: flex;
  gap: 2rem;
}

ul li {
  list-style-type: none;
  padding-left: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

ul li a:hover {
  color: black;
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}

main {
  display: flex;
  padding: 30px;
  gap: 20px;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  padding: 30px;
  box-shadow: 0 0 8px 1px gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.img-card {
  width: 100%;
  max-height: 350px;
}

section {
  display: flex;
  gap: 20px;
  /* font-size: 1.0em; */
  flex-wrap: wrap;
}

.card h1 {
  font-weight: bold;
  font-size: 2em;
}

p {
  text-indent: 0.4in;
  text-align: justify;
}

.profile header {
  text-align: center;
}

.profile p {
  text-indent: 0;
  text-align: center;
}

.profile {
  text-align: center;
  padding: 30px 40px;
  gap: 0;
}

.profile section h3 {
  margin: auto;
}

footer {
  padding: 20px;
  background-color: #b46d2a;
  text-align: center;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}

footer ul li {
  display: inline;
}

footer ul li a {
  color: black;
}

footer p {
  background-color: #b46d2a;
  margin-top: 10px;
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (max-width: 1200px) {
  main {
    flex-direction: column;
  }
  main aside {
    align-self: center;
  }

  .profile section {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
      justify-content: center;
    }
    .header-description {
        font-size: 1.2em;
    }
    main aside {
      align-self: stretch;
    }
    footer p {
        font-size: 1rem;
    }
}
